<!doctype html>
<html ng-app="customersApp">
<head>
	<title>Iterating ..sdf</title>
	<link href="Styles/styles.css" rel="stylesheet" type="text/css"/>
</head>

<bod ng-controller="CustomersController">
<h2>Customers</h2>
<h3>{{customers[0].name}}</h3>
	Filter: <input type="text"/>
	<br /><br />
	<table>
		
		<tr>
			<th ng-click="doSort('name')">Name</th>
			<th  ng-click="doSort('city')">City</th>
			<th ng-click="doSort('orderTotal')">Order Total</th>
			<th ng-click="doSort('joined')">Joined</th>
		</tr>
		<tr ng-repeat="cust in customers">
			<td>{{cust.name }}</td>
			<td>{{cust.city}}</td>
			<td>{{cust.orderTotal | currency}}</td>
			<td>{{cust.joined | date}}</td>		
			 </tr>
	</table>
	

	<br />
	<span>Total customers: {{ customers.length}} </span>
	<script src="angular.min.js"></script>
	<script>
		
		var app = angular.module('customersApp', []);
	</script>
	<script src="app/customersController.js"> </script>
	
</body>
</html>
